<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>iAdvise</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>

   <div class="wrapper" ng-controller="ChatController">
       <div class="left">
           <h3>{{ userLeft.name }}</h3>

           <ul class="messages-box">
               <li ng-repeat="messageObj in messages" class="message {{ messageObj.user }}">
                   <span class="text">{{ messageObj.message }}</span>
               </li>
           </ul>

           <div class="input-box">
               <form>
                   <input type="text" ng-model="inputs.userLeft">
                   <input type="submit" ng-click="send('userLeft')">
               </form>
           </div>
       </div>
       <div class="right">
           <h3>{{ userRight.name }}</h3>

           <ul class="messages-box">
               <li ng-repeat="messageObj in messages" class="message {{ messageObj.user }}">
                   <span class="text">{{ messageObj.message }}</span>
               </li>
           </ul>

           <div class="input-box">
               <form>
                   <input type="text" ng-model="inputs.userRight">
                   <input type="submit" ng-click="send('userRight')">
               </form>
           </div>
       </div>
   </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
